$red:   #E65C43;
$bright-red: #F25C43;
$white: #FFF;
$light-grey:  #666;
$dark-grey: #30353D;

$social-media-img: '../images/social-media.png';
$logo-img: '../images/logo.png';
$background-img: '../images/bg.gif';

$font-family-roboto: 'Roboto', sans-serif;
